{% extends 'base.html' %}

{% block content %}

<h1>Nova Jogada</h1>
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">salvar</button>
</form>

<div class="box-body">
    <table id="campo-minado" border="1" width="250" height="150" style="text-align-last:center" >
        <thead>
            <tr>
                <td> </td>
                <th>1 </th>
                <th>2 </th>
                <th>3</th>
                <th>4 </th>
                <th>5 </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="font-weight:bold">1</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td style="font-weight:bold">2</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td style="font-weight:bold">3</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td style="font-weight:bold">4</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td style="font-weight:bold">5</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</div>

{% for jogada in jogadas %}
<script type="text/javascript">
    var linha = {{jogada.linha}}+1;
    var coluna = {{jogada.coluna}}-1;
    var vizinhos = {{jogada.vizinhos}}
    document.querySelectorAll("table td:nth-child("+linha+")")[coluna].innerText = vizinhos;
</script>
{% endfor %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}