{% extends 'app/base.html' %}

{% block content %}
	
	<div class="box-body">
	   	<table>
	   		<tbody>
	   			{% for cel in matriz %}
	   			<tr>
	   				<td>{{ cel }}</td>
	   			</tr>
	   			{% endfor %}
	   		</tbody>
	   	</table>
   	</div>
   	<br>
   	<div>
   		<tr>
   			<h4>{{ mensagem }}</h4>
   		</tr>
	</div>
	<br>
	<form action="iniciar/" method="POST">
		{% csrf_token %}
		<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" name="iniciar/" value="Reiniciar">
	</form>
{% endblock %}