{% extends 'app/base.html' %}

{% block content %}
	<h4>Digite o número da linha e coluna respectivamente.</h4>

	<form action="main" method="POST">
		{% csrf_token %}
		{{ entrada.as_p }}
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" name="jogada" value="Jogar"/>
        
	</form>
	<div class="box-body">
	   	<table>
	   		<tbody>
	   			{% for cel in matriz %}
	   			<tr>
	   				<td>{{ cel }}</td>
	   			</tr>
	   			{% endfor %}
	   		</tbody>
	   	</table>
   	</div>
   	<br>
   	<div>
   		<tr>
   			<h5>{{ mensagem }}</h5>
   		</tr>
	</div>
    <br>
    
 
{% endblock %}