{% extends 'base.html' %}

{% block content %}

<h1>Nova Jogada</h1>
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Jogar</button>
</form>
<div class="row">
    <div class="col-md-6">
        <div class="box-body">
            <table class="table table-striped table-jogadas">
                <thead>
                    <tr>
                        <th class="jogadas-coluna">Linha </th>
                        <th class="jogadas-coluna">Coluna </th>
                    </tr>
                </thead>
                <tbody>
                    {% for jogada in jogadas %}
                    <tr>
                        <td>{{ jogada.linha }}</td>
                        <td>{{ jogada.coluna }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>1</b></td>
                    <td id="i11"></td>
                    <td id="i12"></td>
                    <td id="i13"></td>
                    <td id="i14"></td>
                    <td id="i15"></td>
                </tr>
                <tr>
                    <td><b>2</b></td>
                    <td id="i21"></td>
                    <td id="i22"></td>
                    <td id="i23"></td>
                    <td id="i24"></td>
                    <td id="i25"></td>
                </tr>
                <tr>
                    <td><b>3</b></td>
                    <td id="i31"></td>
                    <td id="i32"></td>
                    <td id="i33"></td>
                    <td id="i34"></td>
                    <td id="i35"></td>
                </tr>
                <tr>
                    <td><b>4</b></td>
                    <td id="i41"></td>
                    <td id="i42"></td>
                    <td id="i43"></td>
                    <td id="i44"></td>
                    <td id="i45"></td>
                </tr>
                <tr>
                    <td><b>5</b></td>
                    <td id="i51"></td>
                    <td id="i52"></td>
                    <td id="i53"></td>
                    <td id="i54"></td>
                    <td id="i55"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% for jogada in jogadas %}
<script type="text/javascript">
    var linha = {{jogada.linha}};
    var coluna = {{jogada.coluna}};
    var vizinhos = {{ jogada.vizinhos }}
    document.querySelectorAll("#i"+linha+""+coluna)[0].innerText = vizinhos;
</script>
{% endfor %}

{% if venceu %}
<script type="text/javascript">
    alert('Você venceu!')
</script>
{% endif %}

{% endblock %}